#cart-widget > span {
  color: pink;
  padding-left: 1rem;
  font-weight:bold;
}

#cart-widget img {
  mix-blend-mode: multiply;
  width: 100px;
}


.navbar > .container {
  font-size: 31px;
}

.container {
  padding-right: 8rem;
  padding-left: 20rem;
}

.container, h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-brand {
  font-size: inherit;
}